node_modules/
data/db/
data/*.xlsx
!src/database/
src/database/*
!src/database/scripts/
src/database/scripts/*
!src/database/scripts/migrate-json-to-mongo.js
!src/database/scripts/import-data-db-jsons.js

.env
.env.*
!.env.example
.gemini/
